<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1090295376609-7knj3ufk1plkl21rv5r0s9kh358ml916.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1090295376609-7knj3ufk1plkl21rv5r0s9kh358ml916</string>
	<key>API_KEY</key>
	<string>AIzaSyCM8UMdivybFAlpgZkB7eYimfG8RBBCFK0</string>
	<key>GCM_SENDER_ID</key>
	<string>1090295376609</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.test.123</string>
	<key>PROJECT_ID</key>
	<string>csc690final</string>
	<key>STORAGE_BUCKET</key>
	<string>csc690final.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1090295376609:ios:033e6e8af5dccda705a5a0</string>
	<key>DATABASE_URL</key>
	<string>https://csc690final-default-rtdb.firebaseio.com</string>
</dict>
</plist>